<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.xyes.zkh.retail.repository.dao.mapper.AdminMapper">
    <sql id="columns">
        adm.id          adm_id,
        adm.name        adm_name,
        adm.password    adm_password,
        adm.create_time adm_create_time,
        adm.update_time adm_update_time,
        adm.deleted     adm_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_admin as adm
        where adm.deleted = false;
    </sql>
    <resultMap id="rm_base" type="club.xyes.zkh.retail.commons.entity.Admin">
        <id column="adm_id" property="id"/>
        <result column="adm_name" property="name"/>
        <result column="adm_password" property="password"/>
        <result column="adm_create_time" property="createTime"/>
        <result column="adm_update_time" property="updateTime"/>
        <result column="adm_deleted" property="deleted"/>
    </resultMap>
</mapper>