<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.xyes.zkh.retail.repository.dao.mapper.FeedbackMapper">
    <sql id="columns">
        fb.id          fb_id,
        fb.user_id     fb_user_id,
        fb.username    fb_username,
        fb.phone       fb_phone,
        fb.content     fb_content,
        fb.create_time fb_create_time,
        fb.update_time fb_update_time,
        fb.deleted     fb_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_feedback as fb
        where fb.deleted = false
    </sql>
    <sql id="select_with_all">
        select
        <include refid="columns"/>,
        <include refid="club.xyes.zkh.retail.repository.dao.mapper.UserMapper.columns"/>
        from t_feedback as fb
        left outer join t_user as u on fb.user_id=u.id
        where fb.deleted = false
    </sql>
    <resultMap id="rm_base" type="club.xyes.zkh.retail.commons.entity.Feedback">
        <id column="fb_id" property="id"/>
        <result column="fb_user_id" property="userId"/>
        <result column="fb_username" property="username"/>
        <result column="fb_phone" property="phone"/>
        <result column="fb_content" property="content"/>
        <result column="fb_create_time" property="createTime"/>
        <result column="fb_update_time" property="updateTime"/>
        <result column="fb_deleted" property="deleted"/>
    </resultMap>
    <resultMap id="rm_with_all" type="club.xyes.zkh.retail.commons.entity.Feedback" extends="rm_base">
        <association property="user" resultMap="club.xyes.zkh.retail.repository.dao.mapper.UserMapper.rm_base"/>
    </resultMap>
    <select id="selectFetchAll" resultMap="rm_with_all">
        <include refid="select_with_all"/>
        order by fb.create_time desc
    </select>
</mapper>